@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body {
    background-image: url("../images/BACKGROUND.png");
    background-color: #110F25;
    background-position: center top;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    color: #9EA5AA;
}

#title {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 4vw;
    color: #EFF2F2;
    border-bottom: 0.3vh solid #eff2f2;
    background: rgba(17, 15, 37, 0.9);
}

img {
    max-width: 100%;
    height: auto;
}

#home {
    width: 4vw;
    margin-left: 25vw;
    position: fixed;
}

#instructions, #puzzle {
    width: 36vw;
    background-color: #110F25;
    margin-left: 30vw;
    padding: 0vw 2vw;
    border: 0.1vw solid #eff2f2;
    margin-top: 2vw;
}

#puzzle h1 {
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
    font-size: 3.8vw;
    color: #EFF2F2;
}

#puzzle h2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    color: #EFF2F2;
}

#puzzle p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    margin: 0 0 2vw 0;
    padding: 0;
    color: #9EA5AA;
}

#instructions h1 {
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
    font-size: 4vw;
    color: #EFF2F2;
}

#instructions h2 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    color: #EFF2F2;
}

#instructions p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    margin: 0 0 2vw 0;
    padding: 0;
    color: #9EA5AA;
}

@media screen and (max-width: 1100px) {

    #instructions, #puzzle {
        width: 76vw;
        background-color: #110F25;
        margin-left: 10vw;
        padding: 0vw 2vw;
        border: 0.1vw solid #eff2f2;
        margin-top: 2vw;
        text-align: center;
    }

    #instructions p {
        text-align: justify;
    }

    #puzzle p {
        text-align: justify;
    }

    #home {
        width: 3vw;
        margin-left: 5vw;
        position: fixed;
    }

}
